<div class="container">
  <div class="form-container">
    <header class="header">
      <div class="header-content">
        <button mat-button (click)="voltar()" aria-label="Retornar">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Cadastro de Pokémon</h1>
      </div>
    </header>

    <p class="notification">
      Não se preocupe com o uso de maiúsculas ao preencher o nome. Esta seção aplica automaticamente um pipe que converte o nome para letras maiúsculas, conforme uma das atividades do projeto.
    </p>

    <form [formGroup]="form">
      <app-input label="Nome" [control]="form.controls['nome']"></app-input>
      <app-input label="ID" [control]="form.controls['id']"></app-input>
      <app-input type="date" label="Data" [control]="form.controls['data']"></app-input>

      <app-button
        label="Gravar"
        [loading]="alunoService.loading"
        (click)="salvar()"
      ></app-button>
    </form>
  </div>
</div>
