<div class="container">
  <h1>Randomizador de Pokémon</h1>
  <h4>Para gerar um novo pokémom você deve apenas atualizar a página.</h4>

  <div class="pokemon-container">
    <app-pokemon-random></app-pokemon-random>
  </div>

 
  <h1>CRUD - pokémom - MYpersonalList</h1>
  <h4>Ei! Se você gostou do pokémom acima não vá perdê-lo, salve-o para ir atrás em sua aventura</h4>
  <ol>
    <li *ngFor="let aluno of alunos | async" class="aluno-item">
      <div class="aluno-info">
        Nome: {{ aluno.nome | toTitleCase }}<br>
        ID: {{ aluno.id }}<br>
        Data: {{ aluno.data | date:'dd/MM/yyyy' }}<br>
      </div>
      <div class="aluno-actions">
        <button mat-button (click)="atualizarAluno(aluno.chave)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="apagarAluno(aluno.chave)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </ol>

  <div class="cadastro-button-container">
    <button mat-button routerLink="/aluno">Cadastrar Pokémon</button>
  </div>
</div>
