<div class="toolbar-container">
  <mat-toolbar color="primary" class="toolbar-centered">
    <span class="toolbar-title">Trabalho Final - Prog web</span>
    <button mat-button (click)="logout()" aria-label="Sair">
      <mat-icon>logout</mat-icon> Sair
    </button>
  </mat-toolbar>
</div>

<div class="container">
  <h1>Randomizador de Pokémon</h1>
  <h4>Para gerar um novo pokémon, atualize a página.</h4>

  <div class="pokemon-container">
    <app-pokemon-random></app-pokemon-random>
  </div>
  <h4>Existe um pipe medindo seu pokémom, retornando dizendo se ele é <b>Pequeno, baixinho, médio ou alto</b></h4>
  <h1>CRUD - Pokémon </h1>
  <h4>Se você gostou do pokémon acima, salve-o para os usuarios verem que você encontrou na sua aventura!</h4>
  <ol>
    <li *ngFor="let pokemon of alunos | async" class="pokemon-item">
      <div class="pokemon-info">
        Nome: {{ pokemon.nome | uppercase }}<br>
          ID: {{ pokemon.id }}<br>
        Data: {{ pokemon.data | date:'dd/MM/yyyy' }}<br>
      </div>
      <div class="pokemon-actions">
        <button mat-button (click)="atualizarAluno(pokemon.chave)" aria-label="Editar Pokémon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="apagarAluno(pokemon.chave)" aria-label="Excluir Pokémon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </ol>

  <div class="cadastro-button-container">
    <button mat-button routerLink="/aluno">Cadastrar Pokémon</button>
  </div>
</div>
